#established {
    width: 65%;
    text-align: center;
    border-bottom: 1px solid white;
    line-height: 0;
    margin: 0.25rem 0 0.25rem;
    padding: 0;
    margin-bottom: 1.25rem !important;
}

#established span {
    padding: 0 10px;
    background-color: rgb(8 36 48);
}

#quizzes-played {
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 1.25rem;
    text-align: center;
}

#social-medias {
    margin-top: 1rem;
    justify-content: center;
    display: flex;
}

#social-medias a {
    color: white;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

#social-medias a svg {
    fill: white;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    display: block;
}

#social-medias a svg:hover {
    fill: #FFA500;
    transform: scale(1.15);
    transition: transform 0.1s ease;
}

#licensing {
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    #social-medias {
        margin-top: 1rem !important;
    }
}
