@import "MainBodyInput.css";
@import "MainBodyOptions.css";

#main-body {
    margin-top: 5rem;
}

@media (max-width: 1100px) {
    #main-body-options-option {
        width: 80%;
    }
    #main-body-options-inner {
        justify-content: center;
        align-items: center;
    }
}

#main-body-buttons {
    display: flex; /* Use Flexbox for layout */
    flex-direction: row; /* Align children in a row */
    align-items: center; /* Center items vertically */
    gap: 2.5rem; /* Optional: add some space between items */
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 0.25rem dashed;
}

#main-body button {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    transform: translate(-4px, 0);
    overflow: hidden;
    transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out, margin 0.1s ease-in-out, height 0.25s ease-in-out, background-color 0.1s ease-in-out;
    box-shadow: 0 0 0 3px black, 1px 1px 0 3px black, 2px 2px 0 3px black, 3px 3px 0 3px black, 4px 4px 0 3px black;
}

#main-body button:hover {
    background-color: var(--gold);
}

#main-body button:active {
    transform: translate(0, 4px);
    box-shadow: 0 0 0 3px black, 0 0 0 3px black, 0 0 0 3px black, 0 0 0 3px black, 0 0 0 3px black;
    background-color: var(--gold);
}

#button-howto {
    margin-left: 0;
}

#main-body button div {
    display: flex; /* Keep items in a row */
    flex-direction: row; /* Default is row, so this is optional */
    padding: 0.5rem;
    height: fit-content;
    width: fit-content;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    pointer-events: none;
}

#main-body button div svg {
    height: 2rem;
    width: auto;
    min-height: 1.5rem;
    max-height: 2rem;
    margin-right: 0.25rem;
}

#main-body button div label {
    padding-left: 0.25rem;
    font-size: 1.25rem;
    /*margin-top: 0.5rem;*/
    width: fit-content;
    font-weight: 450;
    white-space: nowrap;
    letter-spacing: 0.025rem;
    transition: text-shadow 0.1s ease-in-out, color 0.1s ease-in-out;
    text-align: center; /* Center text inside the label */
}

#button-stats {
    margin-left: 1rem;
}

#button-previous-guesses {
    margin-left: 1rem;
}

#button-guess, #button-game-over {
    width: 40rem;
}