#main-body-rules-prompt {
    position: relative;
}

#rules-prompt-dialog {
    position: fixed;
    top: 2.5rem;
    z-index: 10;
    margin-top: 1.5rem;
    width: 100vw;
    overflow-y: auto;
    max-height: 70vh;
    background-color: transparent;
    padding: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

#rules-prompt-dialog:focus {
    outline: none;
    border: none;
}

#rules-prompt-container {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 42rem;
    width: auto;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.2s;
    text-align: left;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#rules-prompt-container-body-inner {
    /*margin-top: 1.25rem;*/
    text-align: left;
}

#rules-prompt-container-body-inner-inner {
    color: black;
}

#rules-title {
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 0 0 1rem 0;
    text-transform: capitalize;
    border-bottom: 0.25rem dashed;
    font-weight: 600;
    padding-bottom: 0.25rem;
}

/*.rules-hr {
    color: var(--blackish-gray);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: 0;
    height: 0;
    border-top-width: 1px;
}*/

#rules-prompt-container-body-inner-inner ol {
    padding-left: 1rem;
    list-style-type: decimal;
    margin-bottom: 1rem;
    list-style-position: inside;
    list-style: none;
    margin: 0;
    padding: 0;
}

#rules-goal {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    margin-bottom: 0.5rem;
}

#rules-goal-header {
    font-weight: 700;
    text-align: left;
    min-width: 5rem;
}

#rules-goal-desc {
    flex: 1 1 0%;
}

#rules-goal-desc p {
    margin: 0;
}

.rules-goal-desc-prompt {
    color: black;
    font-style: italic;
    margin: 0;
}

#rules-scoring {
    display: flex;
    margin-bottom: 0.5rem;
    column-gap: 0.5rem;
}

#rules-scoring-header {
    font-weight: 700;
    text-align: left;
    min-width: 5rem;
}

#rules-scoring-desc {
    flex: 1 1 0%;
}

#rules-scoring-desc ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#rules-scoring-desc ol li {
    margin-left: 25px;
}

#rules-scoring-span ul {
    list-style-type: disc;
    list-style-position: inside;
}

#rules-scoring-span ul li {
    margin-left: 50px;
}

#rules-scoring-italicized {
    font-style: italic;
}

#rules-strikes {
    display: flex;
    margin-bottom: 0.5rem;
    column-gap: 0.5rem;
}

#rules-strikes-header {
    font-weight: 700;
    text-align: left;
    min-width: 5rem;
}

#rules-strikes-desc {
    flex: 1 1 0%;
}

#rules-strikes-desc ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#rules-strikes-desc ol li {
    margin-left: 25px;
}

#rules-prompt-container-body-inner-inner ul {
    padding-left: 1.5rem;
    list-style-type: disc;
    list-style-position: inside;
    /*list-style: none;*/
    margin: 0;
    padding: 0;
}

#rules-game {
    display: flex;
    margin-bottom: 0.5rem;
    column-gap: 0.5rem;
}

#rules-game-header {
    font-weight: 700;
    text-align: left;
    min-width: 5rem;
}

#rules-game-desc {
    flex: 1 1 0%;
}

#rules-game-desc ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#rules-game-desc ol li {
    margin-left: 25px;
}

#rules-game-desc p {
    margin: 0 0 0 25px;
}
